body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
  }
  
 
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9; 
  }
  
  .login-box {
    text-align: center;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background: #f9f9f9;
  }
  
  .login-logo {
    width: 80px;
    margin-bottom: 20px;
  }
  
  .login-box h1 {
    font-size: 1.8rem;
    color: #5b2a86; 
    margin-bottom: 10px;
  }
  
  .login-box p {
    font-size: 1rem;
    color: #333; 
    margin-bottom: 20px;
  }
  
  .login-box label {
    display: block;
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 5px;
    text-align: left;
  }
  
  .login-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1rem;
  }
  
  .login-box button {
    background-color: #000; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
  }
  
  .login-box button:hover {
    background-color: #333; 
  }
  
  .error-message {
    color: red;
    font-size: 0.9rem;
  }
  
  
  .footer {
    background-color: #f9f9f9; 
    text-align: center;
    padding: 10px;
    color: #000; 
    font-size: 0.8rem;
  }
  
  .footer-logo {
    font-weight: bold;
    color: #5B2A86; 
  }
  
  .footer-logo:hover {
    text-decoration: underline; 
  }
  